aiogram==3.31.0
telethon==1.45.0
opentele2==1.2.1
cryptography==50.0.1
sqlalchemy[asyncio]==2.1.1
aiosqlite==0.22.1
pydantic==2.13.5
pydantic-settings==2.15.0
PySocks==1.7.1
aiofiles==25.1.0
openpyxl==3.1.5
